<!-- Details d'un produit -->
    <div class="row">
        <div class="span5">
            <img src="{{ baseImage + produit.image.path }}" alt="{{ produit.image.name }}" width="470" height="310">
        </div>

        <div class="span4">
            <h4>{{ produit.name }}</h4>
            <h5>{{ produit.categorie.name }}</h5>
            <p>{{ produit.description }}</p>
            <h4>{{ produit.price }} €</h4>
            <!--{% if panier[produit.id] is not defined %}-->
            <add-Produit-in-panier-form></add-Produit-in-panier-form>
            <!--{% else %}
                <div>
                    <a href="{{ path('panier_index') }}" class="btn btn-primary">Le produit est déjà dans votre panier</a>
                </div>
            {% endif %}-->
        </div>
    </div>
