{% extends ":layout/layout.html.twig" %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="span12">
            <h2>Livraison</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="span4">
                        {% if utilisateur|length != 0 %}
                            {{ include('EcommerceFrontBundle:Panier/Includes:_validation.html.twig', {
                                'utilisateur': utilisateur })
                            }}
                        {% endif %}
                    </div>


                    <div class="span4 offset2">
                        <h4>Ajouter une nouvelle adresse</h4>
                        <form action="{{ path('panier_livraison') }}" method="POST">
                            {{ form_widget(form) }}
                            <button class="btn btn-primary" type="submit">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}