
<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Nos produits</li>
            <li ng-repeat="categorie in categories ">
                <a href="#">{{ categorie.name }}</a>
            </li>
        <li>
            <a href="#">Tout</a>
        </li>
    </ul>
</div>

