<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Nos produits</li>
        {{ render(controller('EcommerceFrontBundle:Categorie:menu')) }}
    </ul>
</div>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ include('@User/Default/utilisateurConnecte.html.twig') }}
{% else %}
    {{ include('@User/Default/connexion.html.twig') }}
{% endif %}
    {{ render(controller('EcommerceFrontBundle:Panier:menu')) }}