{% extends ':layout:layout_admin.html.twig' %}

{% block body -%}
    <h1>Produits edit</h1>

    <form action="{{ path('back_produits_update', { 'id' : entity.id }) }}" method="POST">
        {{ form(edit_form) }}
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('back_produits') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
